# =================================
# Strapi Backend
# =================================
STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=

# =================================
# Stripe
# =================================
STRIPE_PUBLIC_KEY=pk_test_XXXXXXXXXXXXXXXXX
STRIPE_SECRET_KEY=sk_test_XXXXXXXXXXXXXXXXX

# =================================
# PayPal
# =================================
PAYPAL_CLIENT_ID=XXXXXXXXXXXXXXXXX
PAYPAL_CLIENT_SECRET=XXXXXXXXXXXXXXXXX

# =================================
# Sitio
# =================================
SITE_URL=http://localhost:4321
